/*---------- CSS RESET -----------*/
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}
/*--------------------------------*/

/*------ Box Model Fix Here ------*/
* {
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*--------------------------------*/

/*------------ HEADER ------------*/
.header {
    top: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    background: white;
}

header {
    padding: 1rem;
    padding-bottom: 0;
    padding-left: 10%;
}
header h1, header a{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: left;
    font-size: 2rem;
    color: #57737a;
    text-decoration: none;
    transition: .3s;
    
}


header h1:hover {
    color: #999 !important;
    transition: .3s;
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: -6px;
    font-size: .75rem;
    line-height: 2em;
    padding-bottom: 2rem;
    color: grey;
}
/*--------------------------------*/

/*---------- NAVIGATION ----------*/
@media only screen and (min-width: 1025px) {
nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-right: 10%;
    text-align: right;
    margin-top: -100px;
}

nav ul.mainNav li {
    list-style-type: none;
    display: inline-block;
}

nav ul.mainNav li.active { /* REVISE */
    border-bottom: 1px solid #999;
}

nav ul.mainNav li a {
    display: block;
    letter-spacing: 1.2px;
    padding: 0 12px;
    color: #999;
    font-size: 16px;
    text-decoration-line: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    transition: 0.3s;
}

nav ul.mainNav li a:hover {
    background-color: rgba(255,255,255,.3);
    transition: 0.3s;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}
    
}
.keepOpen {
    clear: both;
}
/*--------------------------------*/

/*------------- MAIN -------------*/
    /* --- Images --- */
    div.banner-home {
        background-image: url("images/home.jpeg");
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    div.banner-home h1.title, div.banner-home h2.subtitle, div.banner-interior-about h1.titleInterior, div.banner-interior-contact h1 {
        width: 100%;
        background-color: rgba(0, 35, 45, .02);
    }

    div.banner-home h1.title, div.banner-interior-about h1.titleInterior, div.banner-interior-contact h1.title {
        text-align: center;
        color: #333;
        padding-top: 280px;
        font-size: 3em;   
        padding-left: 30%;
    }

div.banner-home h2.subtitle {
    text-align: center;
    color: #666;
    padding-top: 10px;
    padding-bottom: 280px;
    font-size: 2em;
    letter-spacing: .15em;
    padding-left: 30%;
}

div.banner-interior-about {
    background-image: url("images/about.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-bottom: 20px;
}

div.banner-interior-contact {
    background-image: url("images/contact.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 60px;
}

div.banner-interior-about h1, div.banner-interior-contact h1 {
    padding-bottom: 300px;
}

figure.myPhotos {
    float: right !important;
    margin: 5%;
    padding: .5em .5em 1em .5em;
    background-color: white;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

figure.myPhotos img {
    height: 100%;
    width: 100%;
}

figcaption {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding-top: .5em;
    font-size: 1em;
}

    /* -------------- */
main p, main ul, main ol, main blockquote {
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem 20%;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal; 
}

main h2.center-h2 {
    text-align: center;
    width: 80%;
    margin: 2% 20%;
    color: #009CC5;
}

main h2.center-h2-about {
    text-align: center;
    width: 80%;
    margin: 2% 10%;
    color: #009CC5;
    padding: 5em;
}

main div.cta-contact h2.center-h2 {
    color: white;
}

main .interiorHeading {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    background-color: #45596E;
    width: 100%;
}

main .far, main .fas {
    padding: 5px 0px;
    color: white;
    font-size: 48px;
}

main h1.sent-text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #57737a;
    background-color: rgba(255,255,255, .8);
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}

main h2.sent-text {
    text-align: center;
    padding-bottom: 50px;
    color: #666;
    background-color: rgba(255,255,255, .8);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

main .message {
    margin-top: 60px;
    margin-bottom: -16px;
    margin-bottom: -20px;
    padding: 300px 22%;
    background-image: url(images/pexels-photo-273222.jpeg) !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

main h2.left-h2, main h3.left-h3 {
    text-align: left;
    margin: 0 20%;
    padding-top: 2%;
    color: #005f79;
}

h3.center-h3 {
    text-align: center;
    margin: 0 20%;
    padding-bottom: 5%;
    color: #005f79;
}

/* --- CONTACT PAGE (FORM) --- */
main form h2.left-h2 {
    margin-left: 0;
    margin-bottom: 2rem;
}
main form.contact-form {
    padding: 2rem 15%;
    padding-right: 55%;
    width: 100%;
    background-image: url(images/computer-right.jpeg);
    border: none;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;    
}

main form.contact-form label {
    display: block;
    color: #666;
}

main form.contact-form, .form-message, select, input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

main .form-button {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2rem;
    color: #FFF;
    transition: 0.3s;
    
}

main .form-button:hover{
    border-radius: 30px;
    cursor: pointer;
}

main .input-style, .form-message {
    border: none;
    border-bottom: 2px solid rgba(255,255,255, .7);
    border-top: 2px solid rgba(255,255,255, .7);
    margin-bottom: 1rem !important;
    margin-top: 0.2rem !important;
    color: #333;
    background-color: rgba(255,255,255, .7);
    padding: .5rem;
    width: 100%;
    
}

main .input-style:hover, .input-style:focus, .form-message:hover, .form-message:focus {
    border: none;
    border-bottom: 2px solid #57737A;
    border-top: 2px solid rgba(255,255,255, .7);
}

.wrapper {
    min-width: 200px !important;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: -50px !important;
}

form.button .center-button, form.button .left-button, form.button .right-button, .form-button {
    padding: .75em 3em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    color: white;
    background-color: #57737A; /* grey color */
    border: 2px solid #57737A;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1em !important;
    transition: 0.3s;
}

form.button .center-button:hover, form.button .left-button:hover, form.button .right-button:hover, .form-button:hover {
    border-color: #57737A;
    color: #57737A;
    background-color: rgba(255,255,255,0);
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

main .button .center-button {
    margin: 1% 30% !important;
    width: 40% !important;
}

figure .button .center-button {
    margin-top: 0 !important;
    margin-bottom: 2em !important;
}

main .button .left-button {
    margin: 2% 0;
    margin-left: 20%;
}

main .button .right-button {
    margin-right: 20%;
    margin-left: 75%;
    float: right;
    margin-top: -35px;
    width: 200px;
}

main div.cta {
    background-color: #85bdbf;
    padding: 2% 0;
}

main div.section, div.section-bottom {
    background-color: #eee;
}

main div.section-bottom, div.wrapper-media div.cta {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 2em;
}
/*--------------------------------*/

/*------------ FOOTER ------------*/
footer {
    color: #ffffff;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #333;
    padding-bottom: 5px;
    margin-top: 1rem;
}

footer ul.mainNav li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    list-style-type: none;
}

footer ul.mainNav li a {    
    display: block;
    margin: 0px;
    padding: 8px 10px;
    color: #ffffff;
    font-size: 16px;
    text-decoration-line: none;
    transition: 0.3s;
}

footer ul.mainNav li a:hover {
    color: #fff;
    background-color: rgba(255,255,255,.2);
}

footer ul.mainNav li.active {
    background-color: rgba(255,255,255,.2);
}

.keepOpen {
    clear: both;
}

footer.page-footer {
    padding-top: 0px !important;
    margin-top: 50px !important;
}
/*-------------------------------------------------*/

/*------------- MISC/NAVIGATION RULES -------------*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    div.price {
        width: 40%;
        margin: 0 10% !important;
    }
    
    div.winter-getaway figure.myGallery, div.island-adventure figure.myGallery {
        margin-top: 2em !important;
    }
    
    div.section div.honeymoon-package {
        padding-top: 1em !important;
        margin-top: 1em;
    }

    main ol.services, ul.contact {
        padding: 1em 0px 1em 30% !important;
    }
    
    .wrapper, .wrapper-contact, .wrapper-media {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    
    .wrapper-media {
        margin: 0 auto;
        padding: 20px;
    }

    .keepOpen {
        clear: both;
    }
    
    figure.myPhotos {
        float: none !important;
        margin: 1rem auto;
        width: 30%;
    }
    
    
    
    div.homeText {
        width: 100% !important;
    }
    
    
figure.myGallery {
    float: none !important;
    background-color: white;
    margin: 1rem auto;
    width: 60%;
}

figure.myGallery img {
    padding: .8em;
    width: 100%;
}
    
    nav {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        background: linear-gradient(#009CC5, #005f79);
        text-align: center;
        padding-top: .05em;
        padding-bottom: 1em
    }

    nav ul.mainNav {
        list-style-type: none;
        padding: 0px;
    }

    nav ul.mainNav li {
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin: .5em 5%;
        border: 2px solid rgba(255,255,255,.3);
        border-radius: 30px;
    }

    nav ul.mainNav li.active {
        background-color: rgba(255,255,255,.3);
        border-color: rgba(255,255,255,.3);
        border-radius: 30px;
    }

    nav ul.mainNav li a {
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        font-size: 16px;
        text-decoration-line: none;
    }

    nav ul.mainNav li a:hover {
        color: #fff;
        background-color: rgba(255,255,255,.3);
        border-color: rgba(255,255,255,.3);
        border-radius: 30px;
        transition: 0.3s;
    }
    
/*---FOOTER NAVIGATION---*/
    footer {
        background-color: #111;
    }
    
    footer ul.mainNav{
        padding: 0px;
        list-style-type: none;
        background: linear-gradient(#00232d, #111);
    }
    
     footer ul.mainNav li {
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin: .5em 5%;
        border: 2px solid rgba(0, 156, 197,.1);
        border-radius: 30px;
    }

    footer ul.mainNav li.active {
        background-color: rgba(0, 156, 197, .1);
        border-color: rgba(0, 156, 197,.1);
        border-radius: 30px;
    }

    footer ul.mainNav li a {
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        font-size: 16px;
        text-decoration-line: none;
    }

    footer ul.mainNav li a:hover {
        color: #fff;
        background-color: rgba(255,255,255,.1);
        border-color: rgba(255,255,255,.1);
        border-radius: 30px;
        transition: 0.3s;
    }
    /*--------------------------------*/
    
    main .button .center-button {
        margin: 1% 40% !important;
        width: 20% !important;
    }
    
    .button .center-button, .button .left-button {
        width: 40% !important;
        margin: 2% 30% !important;
    }
}


@media only screen and (max-width: 768px) {
    
    main .contactInfoBox {
        width: 90%;
        margin: 2em 5%;
    }

    main button .center-button {
        margin: 1% 40%;
        width: 20%;
    }
    
    .button .center-button, .button .left-button {
        width: 40% !important;
        margin: 2% 30% !important;
    }
    
    main ol.services, ul.contact {
        padding: 1em 15% 1em 20% !important;
    }
    
    .wrapper, .wrapper-contact, .wrapper-media {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        margin-bottom: -50px;
    }
    
    .wrapper-media {
        margin: 0 auto;
        padding: 20px;
        margin-top: -2em;
    }
    
    .keepOpen {
        clear: both;
    }
    
    nav {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        background: linear-gradient(#009CC5, #005f79);
        text-align: center;
        padding-top: .05em;
        padding-bottom: 1em
    }

    nav ul.mainNav {
        list-style-type: none;
        padding: 0px;
    }

    nav ul.mainNav li {
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin: .5em 5%;
        border: 2px solid rgba(255,255,255,.3);
        border-radius: 30px;
    }

    nav ul.mainNav li.active {
        background-color: rgba(255,255,255,.3);
        border-color: rgba(255,255,255,.3);
        border-radius: 30px;
    }

    nav ul.mainNav li a {
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        font-size: 16px;
        text-decoration-line: none;
    }

    nav ul.mainNav li a:hover {
        color: #fff;
        background-color: rgba(255,255,255,.3);
        border-color: rgba(255,255,255,.3);
        border-radius: 30px;
        transition: 0.3s;
    }
    
/*---FOOTER NAVIGATION---*/
    footer {
        background-color: #111;
    }
    
    footer ul.mainNav{
        padding: 0px;
        list-style-type: none;
        background: linear-gradient(#00232d, #111);
    }
    
     footer ul.mainNav li {
        font-family: 'Open Sans', sans-serif;
        display: block;
        margin: .5em 5%;
        border: 2px solid rgba(0, 156, 197,.1);
        border-radius: 30px;
    }

    footer ul.mainNav li.active {
        background-color: rgba(0, 156, 197, .1);
        border-color: rgba(0, 156, 197,.1);
        border-radius: 30px;
    }

    footer ul.mainNav li a {
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        font-size: 16px;
        text-decoration-line: none;
    }

    footer ul.mainNav li a:hover {
        color: #fff;
        background-color: rgba(255,255,255,.1);
        border-color: rgba(255,255,255,.1);
        border-radius: 30px;
        transition: 0.3s;
    }
/*-----------------------*/
    
    figure.myPhotos {
        float: none;
        margin: 1rem auto;
        width: 100%;
        margin-bottom: 3em;
    }
    
    figure.myGallery {
        float: none;
        background-color: white;
        margin: 1rem auto;
        width: 100%;
    }

    figure.myGallery img {
        padding: .8em;
        width: 100%;
    }
    
    @media only screen and (max-width: 450px) {
        div.cta .center-button, .button.center-button, .button.left-button {
            width: 90% !important;
            margin: 1em 5% !important;
        }
        div.price {
            width: 95%;
            margin: 1em 2.5%;
        }
        
        .section-bottom div.location {
            width: 100%;
            float: none !important;
            margin-bottom: 2em;
        }

        .section-bottom div.location .button .center-button{
            width: 95% !important;
            margin: .25em 2.5% !important;
        }
        
    }
    
}